
#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
  text-align: center;
  font-size: 92px;
}

.col-md-4{
  text-align: center;
}

.container{
  /*background-image: url("../board.png");*/
}

.row{
}
