body{
  background-color: rgba(128, 206, 214,1);
  min-width: 25%;
  font-family: 'Rubik', sans-serif;
}

h1{
  margin: 0;
}

h2{
  margin: 0;
  color: rgb(213, 244, 230);
  text-shadow: -3px -3px 0 rgb(9, 147, 153);
}

h2:hover{
  color: rgb(128, 206, 214);
  transition: .3s;
}

header{
  height: 45px;
  background-color: rgba(254, 251, 216,.8);
}

#section{
  background-color: rgba(213, 244, 230,.6);
}

#board {
  margin-top: 20px;
  margin-bottom: 20px;
}

#start{
  margin: 0;
  color: rgb(213, 244, 230);
  text-shadow: -2px -2px 2px rgb(9, 147, 153);
  background-color: rgba(0,0,0,.2);
  border-radius: 20%;
  border-color: rgba(128, 206, 214,1)
}

#reset{
  margin: 0;
  color: rgb(9, 147, 153);
  text-shadow: -2px -2px 2px rgb(213, 244, 230);
  background-color: rgba(0,0,0,.2);
  border-radius: 20%;
  border-color: rgba(128, 206, 214,1)
}

.heading{
  font-size: 84px;
  background-color: rgba(54, 201, 135);
  text-shadow: -3px -3px 0 rgb(213, 244, 230);
  color: rgb(9, 147, 153);
}

.heading:hover{
  text-shadow: 10px -10px 8px rgb(9, 147, 153);
  color: rgba(254, 251, 216,.8);
  transition: .3s;
}

.col-md-12{
  background-color: rgba(97, 134, 133, .7);
  margin: 0 auto;
  text-align: center;
}

.box {
  border: 2px solid black;
  height: 150px;
  text-align: center;
  font-size: 92px;
  color: rgba(9, 147, 153,.55);
}

.box:hover{
  background-color: rgba(97, 134, 133, .7);
  transition: .25s;
  color: rgb(213, 244, 230);
}

.container{
  border-bottom-color: rgb(213, 244, 230);
}

.top-row{
  border-top: none;
}

.bot-row{
  border-bottom: none;
}

.firstCol{
  border-left: none;
}

.thirdCol{
  border-right: none;
}

.bottom-content{
  background-color: rgba(254, 251, 216,.8);
  height: 45px;
}

.button{
  margin-top: 10px;
}
